#title{
  background-color: #ff4c68;
    color: white;
}
.container-fluid{
  padding: 3% 15% 7%;;
}
h1{
font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;

}
.navbar{
  padding: 0 0 5rem;
}
.navbar-brand{
  color: white;
  font-family:"Ubuntu";
  font-size: 3rem;
  font-weight:bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat-light';
}
.title-image{
  width:60%;
  transform: rotate(25deg);

position: absolute;
right: 30%;
}
#features{

   padding: 7% 15%;
   background-color: white;
   position: relative;
   z-index: 1;
}
 .features-box{
   text-align: center;
padding: 5%;
 }
.far{
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
color: #ff4c68;
}
.fas{
  font-size: 2.5rem;
    padding-bottom: 1.5rem;
    color: #ff4c68;
}
#testimonials{
  background-color:  #ff4c68;
  text-align: center;
  font-size: 2.5rem;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
  background-color:  #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-item{
  width: 10%;
  margin-right: 10%;
}
#pricing{
  padding: 7% 15%;
  text-align: center;
}
.pricing-ta
{
  padding: 3% 5%;
}
@media(max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
#cta{
  background-color:  #ff4c68;
  text-align: center;
  padding: 5% 13%;
}
#footer{
text-align: center;
padding: 3% 9%;
}
